body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightcyan;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    color: #580303;
    margin-top: 30px;
  }
  
  .registration-form {
    width: 400px;
    margin: 30px auto;
    background-color: #c5b7b7;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 4px;
  }
  
  .submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #334443;
    color: #880101;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #9c9c9c;
  }
  