/* Reset some default styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
    text-align: center ;
  }
  
  /* Page layout and spacing */
  header {
    background-color: #f7f7f7;
    padding: 20px;
    text-align: center;
  }
  
  .features-section,
  .pricing-section,
  .testimonials-section,
  .cta-section {
    padding: 20px;
  }

  .pricing-card-basic {
    text-align: left;
  }

  .pricing-card-premium {
    text-align: right;
  }